$heavy-border: heavy $primary;

#header {
  dock: top;
  height: 1;
  color: $primary;
  text-style: bold;
  text-align: center;
  margin: 1 1 0 1;
}

#input_query {
    height: auto;
    min-height: 30;
	border: round $secondary;
}

LeftPanel {
    padding: 1;
    margin: 1 2 2 2;
	border: $heavy-border;
	border_title_align: left;
    height: 100%;
}

DataTable {
    padding: 1;
    margin: 1 2 2 2;
	border: $heavy-border;
	border_title_align: left;
    height: 100%;
}

#run {
    margin: 1;
}

#clear {
    margin: 1;
}

#exit {
    margin: 1;
}

#check_pt {
    margin: 1;
}

#select_project {
    height: 5;
    width: 100%;
    margin: 1 2 0 2;
    border: $heavy-border;
    border_title_align: left;
}

Vertical {
    content-align: center middle;
}

ButtomButtons {
    align: center middle;
}

Button:hover {
  outline: $primary;
}

#main_area {
    width: 100%;
}
