$heavy-border: round $primary;

#header {
  dock: top;
  height: 1;
  color: $primary;
  text-style: bold;
  text-align: center;
  margin: 1 1 0 1;
}

#input_query {
    height: auto;
    min-height: 20;
	border: round $secondary;
    margin: 0 0 0 0;
}

LeftPanel {
    padding: 1;
    margin: 0 3 2 2;
	border: $heavy-border;
	border_title_align: left;
    height: 100%;
	dock: left;
	max_width: 50%;
}

DataTable {
    padding: 1;
    margin: 0 2 2 3;
	border: $heavy-border;
	border_title_align: left;
    height: 100%;
	dock: right;
	max_width: 50%;
}

#select_project {
    dock: right;
    height: 5;
    width: 50%;
    margin: 0 2 0 3;
    border: $heavy-border;
    border_title_align: left;
}

#select_query {
    dock: left;
    height: 5;
    width: 50%;
    margin: 0 3 0 2;
    border: $heavy-border;
    border_title_align: left;
}

Vertical {
    content-align: center middle;
}

ButtomButtons {
    align: center middle;
    layout: grid;
    grid-size: 5 1;
    grid-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-rows: 3;
}

Button:hover {
  outline: $primary;
}

#main_area {
    width: 100%;
}

Button {
    width: 20;
	height: 20;
	margin: 0 1 0 1;
}

#select_horizontal_container {
    height: 5;
    width: 100%;
}
